[Settings]
TargetWindowTitle=Clash of Clans
ButtonDelta=5
DeployDelta=15
TransitionDelay=500
BattleLoadDelay=1500

[Farming]
MinGold=500000
MinElixir=500000
EnableLootSearch=1
EnableWallUpgrade=0
Troop1Count=14
Troop2Count=14
Troop3Count=14

[Coordinates]
AttackBtnX=158
AttackBtnY=933
FindMatchBtnX=301
FindMatchBtnY=717
AttackStartBtnX=1570
AttackStartBtnY=882
ReturnHomeClickX=953
ReturnHomeClickY=894
ReturnHomeColor=0xFFFFFF
ReturnHomeTolerance=35
BuilderFaceX=928
BuilderFaceY=84
GoldBarThreshX=1562
GoldBarThreshY=84
ElixirBarThreshX=1571
ElixirBarThreshY=161
GoldAreaX=109
GoldAreaY=148
GoldAreaW=150
GoldAreaH=30
ElixirAreaX=113
ElixirAreaY=192
ElixirAreaW=150
ElixirAreaH=30
NextMatchBtnX=1688
NextMatchBtnY=791
UpgradeMoreBtnX=951
UpgradeMoreBtnY=836
AddWall1X=950
AddWall1Y=838
RemoveWallX=667
RemoveWallY=836
GoldUpgradeX=1095
GoldUpgradeY=834
ElixirUpgradeX=1238
ElixirUpgradeY=814
CloudPt1X=457
CloudPt1Y=257
CloudPt2X=1373
CloudPt2Y=257
CloudPt3X=457
CloudPt3Y=771
CloudPt4X=1373
CloudPt4Y=771
CloudGreyTolerance=15
Side1StartX=1730
Side1StartY=669
Side1EndX=1486
Side1EndY=857
Side2StartX=311
Side2StartY=666
Side2EndX=553
Side2EndY=848
Side3StartX=338
Side3StartY=591
Side3EndX=677
Side3EndY=343
Side4StartX=1099
Side4StartY=171
Side4EndX=1392
Side4EndY=382
CollectorCoords=1072,625;1038,591;995,561;
BBAttackBtnX=175
BBAttackBtnY=943
BBFindMatchBtnX=1385
BBFindMatchBtnY=694
BBStar1X=1608
BBStar1Y=822
BBStar2X=1648
BBStar2Y=821
BBStar3X=1689
BBStar3Y=825
BBStarColor=0x0A121C
MVLogoX=133
MVLogoY=701
MVLogoColor=0xF2D1AB
